# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# LaTeX
*.aux
*.log
*.toc
*.out
*.synctex.gz

# Directories (and thus their content)
DevoirExa/

# Operating system (OS)
Thumbs.db
*.DS_Store